<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Calculate shcedule:</h3>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <p>Are you sure to calculate schedule ?</p>
    <div class="modal-footer">
      <button class="btn btn-success" (click) = "calculateSchedule()">Yes, calculate</button>
      <button class="btn btn-danger" (click) = "goBack()">Cancel</button>
    </div>
  </div>
</div>
</div>
