<div class="container">
    <div class="information">
      <div class="row">
        <pre class="labels">Name of Subject: </pre><p class="items"> {{groupWithPref.group.nameOfSubject}}</p>
      </div>
      <div class="row">
        <pre class="labels">Number of People: </pre><p class="items">{{groupWithPref.group.numberOfPeople}}</p>
      </div>
      <div class="row">
        <pre class="labels">Group id: </pre><p class="items"> {{groupWithPref.group.groupID}}</p>
      </div>
      <div class="row">
        <pre class="labels">Date: </pre><p class="items"> {{groupWithPref.group.date}}</p>
      </div>
      <div class="row">
        <button class="btn btn-info" style="float:right !important"(click)="open() data">Choose</button>
      </div>
    </div>

</div>
