<mat-grid-list [hidden]="currentView!=this.adminView" cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <button class="btn btn-info" (click)="goToSubjectsView()">Subjects</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn btn-info" (click)="goToStudentsView()">Students</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn btn-info" (click)="goToUsersView()">Users</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button class="btn btn-info" (click)=open() data-toggle="modal" data-target="#CalculateModal">Calculate Schedule!
    </button>
  </mat-grid-tile>
</mat-grid-list>


<div [hidden]="currentView!=this.calculateView">
  <app-calculate-schedule (notify)="goToAdminView($event)"></app-calculate-schedule>
</div>

<div [hidden]="currentView!=this.usersView">
  <app-users (backButtonPressed)="goToAdminView()"></app-users>
</div>

<div [hidden]="currentView!=this.studentsView">
  <app-students (backButtonPressed)="goToAdminView()"></app-students>
</div>

<div [hidden]="currentView!=this.subjectsView">
  <app-subjects (backButtonPressed)="goToAdminView()"></app-subjects>
</div>

