<div class="container" [hidden]="currentView!=this.adminView">
  <div class="information">
    <div class="row">
      <button class="btn btn-info">Subjects</button>
    </div>
  </div>
  <div class="information">
  <div class="row">
    <button class="btn btn-info">Students</button>
  </div>
  </div>
  <div class="information">
    <div class="row">
      <button class="btn btn-info" (click)="goToUsersView()">Users</button>
    </div>
  </div>
  <div class="information">
    <div class="row">
      <button class="btn btn-info" (click)=open() data-toggle="modal" data-target="#CalculateModal">Calculate Schedule</button>
    </div>
  </div>
</div>

<div [hidden]="currentView!=this.calculateView">
  <app-calculate-schedule (notify)="goToAdminView($event)" ></app-calculate-schedule>
</div>

<div [hidden]="currentView!=this.usersView">
  <app-users></app-users>
</div>

