<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="row container-fluid">
      <a class="col-md-2 navbar-brand">
        <h2 class="logo">
          <i class="fa fa-balance-scale fa-2x "></i>
        </h2>
        <h4 class="logo-text">{{title}}</h4>
      </a>
      <div class="offset-md-3 col-md-6 float-right ">
        <ul class="navbar float-right">
          <li><a class="btn btn-link" (click)="goToLoginView()" style="font-size:100%">Log in</a></li>
          <li><a class="btn btn-link" (click)="goToRegistrationView()" style="font-size:100%">Sign in</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container-fluid row">
  <div class="offset-md-3 offset-sm-0 col-md-6 col-sm-12 main-content">
    <app-registration [hidden]="currentView!='REGISTER'" (backButtonPressed)="goHome($event)"></app-registration>
    <app-login [hidden]="currentView!='LOGIN'" (userLogedIn)="userLoggedIn($event)"></app-login>
    <app-timetable [student]="loggedStudent"
                   [hidden]="currentView!='TIMETABLE' || isScheduleAlreadyCalculated()"></app-timetable>
    <app-assigned-work-schedule [subjectsIds]="getStudentWorkSchedule()"
                                [hidden]="currentView!='TIMETABLE' || !isScheduleAlreadyCalculated()"></app-assigned-work-schedule>
  </div>
</div>
<button (click)="logOut()"> log out</button>
