<div class="container">
  <div class="information">
    <div class="row">
      <pre class="labels">Name: </pre><p class="items"> {{student.name}}</p>
    </div>
    <div class="row">
      <pre class="labels">Surname: </pre><p class="items">{{student.surname}}</p>
    </div>
    <div class="row">
      <pre class="labels">Username: </pre><p class="items">{{student.username}}</p>
    </div>
    <div class="row">
      <button class="btn btn-info">Update student</button><pre>  </pre>
      <button class="btn btn-info">Delete student</button>
    </div>
  </div>
</div>
