<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <div class="login-form">
    <form #loginUser="ngForm" (ngSubmit)="postCorrectUser()">

      <div class="form-group">
        <input type="text" class="form-control" id="login" name="login" placeholder="Username" required="required"
               [(ngModel)]="user.username">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required"
               [(ngModel)]="user.password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info" style="float:right;">Log in</button>
        <button type="button" class="btn btn-secondary" (click)=goHome()>Back</button>
      </div>
      <div>
        <input type="radio" [(ngModel)]="this.loginProfile"  name = "student" value="student">Student
        <input type="radio" [(ngModel)]="this.loginProfile"  name = "admin" value="admin">Admin
      </div>
    </form>
  </div>

