<div class="jumbotron" style="margin-top:5%; margin-bottom:5%" >
  <div class="container">
    <form #userAddition="ngForm" (ngSubmit)="registerUser()">
      <div class="form-group">
        <label class='labels' for="login">Username</label>
        <input type="text" class="form-control" id="username" name="username"
               required
               [(ngModel)]="user.username">
      </div>
      <div class="form-group">
        <label class='labels' for="login">Password</label>
        <input type="text" class="form-control" id="password" name="password"
               required
               [(ngModel)]="user.password">
      </div>

      <button type="submit" class="btn btn-secondary float-right" (click)="registerUser()">Register</button>
    </form>
  </div>
</div>
