<div class="container all-subjects" align="center">
      <p >Name of subject:  {{subject.nameOfSubject}}</p>
  <hr>
    <div *ngFor="let group of this.subject.groups">
      <div class="container single-group">
       Group ID:   {{group.groupID}}<br>
       Limit of students:   {{group.numberOfPeople}}<br>
       Day:         {{group.dayOfWeek}}<br>
        Class start time: {{group.startTime}} [HHMM]<br>
       Class duration:   {{group.duration}} [min]
      </div>
    </div>
    <div class="row">
      <button class="btn btn-info col-2" (click)="updateSubject()">Update subject</button>
      <button class="btn btn-info offset-8 col-2" (click)="deleteSubject()">Delete subject</button>
    </div>
</div>
