<div class="container">
  <div class="information">
    <div class="row">
      <pre class="labels">Name of subject: </pre><p class="items"> {{subject.nameOfSubject}}</p>
    </div>
    <div class="row" *ngFor="let group of this.subject.groups">
      <pre class="labels">Group ID: </pre><p class="items">{{group.groupID}}</p>
      <pre class="labels">Number of people: </pre><p class="items">{{group.numberOfPeople}}</p>
      <pre class="labels">Date: </pre><p class="items">{{group.date}}</p>
    </div>
    <div class="buttons">
      <button class="btn btn-info">Update subject</button><pre>  </pre>
      <button class="btn btn-info" (click) = "deleteSubject()">Delete subject</button>
    </div>
  </div>
</div>
