<div class="container-fluid all-subjects">
    <div>
      <p >Name of subject:  {{subject.nameOfSubject}}</p>
    </div>
    <div *ngFor="let group of this.subject.groups">
      <div class="container-fluid single-group">
        <p>Group ID:   {{group.groupID}}</p>
        <p>Number of people:   {{group.numberOfPeople}}</p>
        <p>Date:         {{group.dayOfWeek}}</p>
        <p>Class start time:   {{group.startTimeMinSinceMid}}</p>
        <p>Class duration:   {{group.duration}}</p>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-info col-2" (click)="updateSubject()">Update subject</button>
      <button class="btn btn-info offset-8 col-2" (click)="deleteSubject()">Delete subject</button>
    </div>
</div>
