<div [hidden]="currentView!='TIMETABLE'">
<div class="container" style="margin-top:5%">
  <app-group *ngFor="let group of this.groups" [groupWithPref]="group" [counter]="counter" (preferenceUpdated)="updatePreferences()"></app-group>
</div>
<div>
  <button class="btn btn-secondary" (click)="getReadyTimetable()">See your plan</button>
</div>
</div>

<div class="offset-md-3 offset-sm-0 col-md-6 col-sm-12 main-content" [hidden]="currentView!='READYTIMETABLE'">
  <app-ready-timetable *ngFor="let group of this.groups2" [group]="group"></app-ready-timetable>
</div>
